---
import { getMediumData,getCustomArticles } from '@/lib/functions';
import { MediumCard } from '@/components/MediumCard';
import Layout from '@/layouts/Layout.astro';
import ThreeColsLayout from '@/layouts/ThreeColsLayout.astro';

import { Card } from '@/components/ui/card';
import { FULL_NAME } from '@/config/consts';
import { Separator } from '@/components/ui/separator';

const mediumData = await getMediumData();

const customArticles = getCustomArticles();

const SOCIAL_MEDIA_LINKS = [
  {
    title: 'Copywriting in Focus Desarrollos (2022-2024)',
    links: [
      {
        title: 'Linkedin',
        url: 'https://www.linkedin.com/company/focusdesarrollos-fd/posts/?feedView=all',
      },
      {
        title: 'Instagram',
        url: 'https://www.instagram.com/focus.desarrollos/',
      },
      { title: 'Website', url: 'https://focusdesarrollos.com.ar/' },
    ],
  },
  {
    title: 'Community Management in Smat (2022)',
    links: [
      {
        title: 'Linkedin',
        url: 'https://www.linkedin.com/company/70448636/feed/posts/',
      },
      { title: 'Twitter', url: 'https://x.com/smat_io' },
    ],
  },
  {
    title:
      'Community Management and Public Relations in Bank of Chain (2022-2023):',
    links: [
      {
        title: 'Linkedin',
        url: 'https://www.linkedin.com/company/bank-of-chain/about/',
      },
      { title: 'Twitter', url: 'https://x.com/bankofchain_dao' },
      { title: 'Medium', url: 'https://medium.com/bankofchain' },
      { title: 'Discord', url: 'https://discord.com/invite/y9RZVaGFEf' },
    ],
  },
];

const OTHER_PROJECT_LINKS = [
  {
    title:
      'Brochures for Focus Desarrollos',
    links: [
      {title: 'Giardino Project',
      url: 'https://focusdesarrollos.com.ar/wp-content/uploads/2023/10/focus_giardino_brochure_oct23_web.pdf'},
      {title: 'Symmetry Project',
      url: 'https://focusdesarrollos.com.ar/wp-content/uploads/2022/06/focus_symmetry_brochure.pdf'},
    ]
  },
  {
    title: 'Website Design',
    links: [
      {title: 'Marie & Anthony',
      url: 'https://taniamgeuna.wixsite.com/marieaetanthony', 
  }
    ],
  },
  {
    title: 'Bank of Chain’s Whitepaper Edition and Translation',
    links: [{
      title: 'Whitepaper',
      url: 'https://docs.bankofchain.io/docs',
    }]
  },
];
---

<Layout title={`Portfolio | ${FULL_NAME}`}>
  <h1 class='invisible'>Portfolio</h1>
  <ThreeColsLayout
 
  
  >
    <section
      slot='first-column'
      id='articles'
      class='flex flex-col gap-2 col-start-1 col-end-4'
    >
      <h2 class='border-b-2 border-muted uppercase text-right mb-2'>
        Articles
      </h2>
      <div class='flex flex-col gap-4 overflow-y-scroll'>
        {mediumData?.items?.map((props) => <MediumCard {...props} />)}
        {customArticles?.items?.map((props) => <MediumCard {...props} />)}
      </div>
    </section>
    <div
      slot='second-column'
      class='flex flex-col gap-6 flex-1 h-full justify-start items-start col-start-5 col-end-8'
    >
      <section id='social-media'>
        <Card className='bg-transparent border-none shadow-none'>
          <h2 class='border-b-2 border-muted uppercase text-left mb-2'>
            Social Media
          </h2>
          <ul class='h-full flex flex-col justify-evenly gap-6 sm:gap-2 px-4'>
            {
              SOCIAL_MEDIA_LINKS.map(({ links, title }) => (
                <li class='flex flex-col gap-1'>
                  <p class='font-semibold'>{title}</p>
                  <div class='flex flex-row gap-2'>
                    {links.map(({ url, title },index) => (
                      <a
                        class='text-sm font-semibold text-secondary'
                        href={url}
                        target='_blank'
                        rel='nofollow noopener'
                      >
                        {title}
                      </a>
                      <div>
                      {index !== links.length -1 && <Separator orientation='vertical' />}
                    </div>
                    ))}
                  </div>
                </li>
              ))
            }
          </ul>
        </Card>
      </section>
      <section id='other-projects'>
        <Card className='bg-transparent border-none shadow-none'>
          <h2 class='border-b-2 border-muted uppercase text-left m}b-2'>
            Other Projects
          </h2>
          <ul class='h-full flex flex-col justify-evenly gap-6 sm:gap-2 px-4'>
            {
              OTHER_PROJECT_LINKS.map(({ links, title }) => (
                <li class='font-semibold'>
                  <p>
                    {title}
                  </p>
                  <div class='flex flex-row gap-2'>
                    {links.map(({ url, title },index) => (
                      <a
                        class='text-sm font-semibold text-secondary'
                        href={url}
                        target='_blank'
                        rel='nofollow noopener'
                      >
                        {title}
                      </a>
                      <div>
                      {index !== links.length -1 && <Separator orientation='vertical' />}
                    </div>
                    ))}
                  </div>
                </li>
              ))
            }
          </ul>
        </Card>
      </section>
    </div>
  </ThreeColsLayout>
  <div class="h-20"/>
</Layout>
