---
import Layout from '../layouts/Layout.astro';
import WorkExperienceCard from '@/components/WorkExperienceCard';
import { Separator } from '@/components/ui/separator';
import { FULL_NAME } from '@/config/consts';
import Footer from '@/components/Footer.astro';
import ThreeColsLayout from '@/layouts/ThreeColsLayout.astro';

const WORK_EXPERIENCE = [
  {
    title: 'Research Assistant, Development International e.V.',
    description:
      'Contributed to a research project by collecting data, conducting research, and performing literature reviews. Analysed data to identify trends, wrote preliminary reports, and collaborated on various tasks to meet project deliverables.',
    date: '2023-present',
  },
  {
    title: 'Copywriter, Focus Desarrollos',
    description:
      'Researched and integrated current industry trends to create content that supports the company’s marketing objectives. Crafted compelling and targeted content for its audience, significantly enhancing brand visibility and engagement.',
    date: '2022-2024',
  },
  {
    title: 'General Assistant & Community Manager, Smat',
    description:
      'Managed and executed social media strategies, crafting compelling content and increasing online presence. Oversaw community engagement, providing customer support. Assisted with graphic design and recruiting tasks.',
    date: '2022-2023',
  },
  {
    title: 'Public Relations Manager, Bank of Chain',
    description:
      'Developed and implemented marketing strategies to boost company visibility in the web3 sector. Managed social media platforms and created engaging content resulting in an increasing audience from zero. Conducted market research and analysed trends to improve strategic planning. Handled contacts with potential partnerships and financial supporters.',
    date: '2022-2023',
  },
  {
    title: 'Legislative Consultant, Freelance',
    description:
      'Advised and assisted on legislative projects with a focus on sustainable development and innovation. Drafted proposals and researched regulatory frameworks, supporting comprehensive policy development.',
    date: '2021-2022',
  },
  {
    title: 'Passenger Service Agent, Aerolineas Argentinas',
    description:
      'Managed passenger services, including check-in, boarding, and customer service, ensuring a seamless travel experience. Handled complex customer service and operational scenarios and resolved issues related to travel documentation and baggage claims.',
    date: '2016-2020',
  },
  {
    title: 'Airport Service Agent & Team Coordinator, Swissport',
    description:
      'Managed passenger services for Latam Airlines. Coordinated team operations for Travelrock charters, private charters, and Swissport operations at Rosario’s airport. Conducted performance and flight operations reporting.',
    date: '2013-2016',
  },
];

const SKILLS = [
  'Team Leadership',
  'Problem-Solving',
  'Effective Communication',
  'Adaptability',
  'Attention to Detail',
  'Time Management',
  'Writing and Research',
  'Content Creation',
  'Social Media Management',
  'Copywriting',
  'Community Engagement',
  'Digital Marketing',
  'Data Analysis',
  'Project Management',
  'Blockchain Technology',
  'Cryptocurrencies',
  'Microsoft Office',
  'Pivot Tables',
  'Figma',
  'Notion',
  'Canva',
  'Trello',
];

const ACADEMIC = [
  {
    degree: 'University Degree in Political Sciencies',
    uni: 'Universidad Abierta Interamericana',
    date: '2013-2020',
  },
  {
    degree: 'Environmental and Political Challenges for a Sustainable Future',
    uni: 'ADELA - Flacso',
    date: '2020',
  },
];
---

<Layout title={`Resume | ${FULL_NAME}`} footer={false}>
  <h1 class='invisible'>Resume</h1>
  <ThreeColsLayout classes={{ secondColContainer: 'row-start-1' }}>
    <div
      slot='first-column'
      class='flex flex-col gap-12 justify-start items-end md:col-start-1 md:col-end-4'
    >
      <div class='flex flex-col gap-4'>
        <h2 class='md:text-right text-primary font-bold text-xl xl:text-2xl'>
          Academic Background
        </h2>
        <ul class='flex flex-col gap-6'>
          {
            ACADEMIC.map(({ degree, uni, date }) => (
              <li class='flex flex-col gap-1'>
                <div class='flex flex-row gap-2 items-center md:justify-end'>
                  <i class='text-muted-foreground text-sm md:text-right'>
                    {date}
                  </i>
                  <b class='md:text-right'>{degree}</b>
                </div>
                <p class='text-sm md:text-right'>{uni}</p>
              </li>
            ))
          }
        </ul>
      </div>

      <div class='flex flex-col gap-4 md:items-end'>
        <h2 class='md:text-right text-primary font-bold text-xl xl:text-2xl'>
          Skills
        </h2>
        <ul class='grid grid-cols-2 gap-y-1 lg:gap-x-20'>
          {
            SKILLS.map((skill) => (
              <li class='md:text-right text-sm'>{skill}</li>
            ))
          }
        </ul>
      </div>
    </div>
    <div
      slot='second-column'
      class='flex flex-col gap-2 md:col-start-5 md:col-end-8'
    >
      <h2 class='text-primary font-bold text-xl xl:text-2xl'>
        Work Experience
      </h2>
      {WORK_EXPERIENCE.map((props) => <WorkExperienceCard {...props} />)}
    </div>
  </ThreeColsLayout>
  <Footer class={'relative sm:relative'} />
  <div class='h-20'></div>
</Layout>
